<script src="/js/bootstrap.min.js"></script>
<script src="/js/datatables.min.js"></script>
<script src="/js/dataTables.bootstrap.min.js"></script>
<script src="/js/jquery-ui.min.js"></script>
<script src="/js/dataTables.buttons.min.js"></script>
<script src="/js/buttons.html5.min.js"></script>
<script src="/js/bootstrap-select.min.js"></script>
<script src="/js/bootstrap-editable.js"></script>
<script src="/js/jszip.min.js"></script>
<script src="/js/moment.js"></script>
<script src="/js/daterangepicker.js"></script>
